* {
  font-family: 'IBM Plex Serif', serif;
}

#home, #aboutMe, #skills {
  height: 100vh;
}

#home {
  background-image: url(../img/img.jpg);
  background-size: cover;
  background-position: center;
  opacity: .8;
  color: #ffff;
}

.size {
  margin-top: 15%;
  font-size: 50px;
}

/* Efecto escritura*/
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

#textWrite {
  padding: 1%;
  border-right: .2em solid #FF0044;
  width: 16.2ch;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 1s steps(15, end),
  blink-caret .5s step-end infinite alternate;
}

#contact {
  background-color: #FF0044;
  border: none;
  color: #fff;
  padding: 0 1%;
  font-size: 2em;
}

#contact:hover {
  text-decoration: none;
  background-color: transparent;
  color: #FF0044;
  border: #FF0044;
  background-color: #fff;
}

#aContact, #myAbilities {
  margin-top: 6%;
}

.jocyImg {
  border-radius: 50%;
  width: 45vh;
  height: 45vh;
}

#aboutMe {
  padding-top: 12%;
}

.aboutMeTitle {
  font-size: 5vh;
}

.textMe {
  font-size: 22px;
  padding-top: 2%;
}

#goMySkills .abilities {
  color: #331832;
}

.abilities {
  color: #fff;
  font-size: 1.5em;
  border: 2px solid #FF0044;
  padding: 1%;
}

.abilities:hover {
  text-decoration: none;
  color: #FFF;
  background-color: #FF0044;
}

.skillTitle {
  font-size: 45px;
  padding-top: 4%;
}

#skills .skillTitle {
  padding-bottom: 3%;
}

#skills i {
  font-size: 15vh;
  color: #FF0044;
}

.col-xs-4, .col-sm-4, .col-md-3, .col-lg-3 {
  padding-bottom: 1%;
}

#proyects, #aboutMe {
  background-color: #EEEEEE;
}

.titleTextMe {
  font-size: 40px
}

#proyects a {
  font-size: 20px;
  background-color: #FF0044;
  color: #fff;
  padding: .5%;
  margin: 1%;
}

#proyects a:hover {
  text-decoration: none;
  color: #331832;
}

.line {
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0px 15px 10px -15px #111;
  padding: 5% 0;
  
}

.line p {
  padding: 3% 0;
  font-size: 22px;
}

footer {
  background-color: #331832;
  font-size: 1em;
  height: 25vh;
}

footer a {
  font-size: 10vh;
  padding: 0 2%;
  color: #C6D8D3;
}

footer a:hover {
  text-decoration: none;
}

#contactMe {
  color: #fff;
}


@media only screen and (max-width: 700px) {
  .size {
    margin-top: 45%;
    font-size: 20px;
  }
  .jocyImg {
    width: 150px;
    height: 150px;
  }
  .text-center {
    padding-top: 8%;
  }
  #aboutMe {
    padding-top: 2%
  }
  #aboutMe {
  height: 130vh;
  }
  .titleTextMe, .skillTitle {
    font-size: 24px;
    text-align: center;
  }
  .textMe, #proyects p {
    font-size: 15px;
  }
  #proyects a {
    font-size: 16px;
  }
  #skills i {
    font-size: 12vh;
  }
  footer {
  height: 32vh;
}
}