body{
  font-family: 'Indie Flower', cursive;
  font-size: 4vh;
  color: #331832;
}

/* Efecto foto principal*/
.jocyImg:hover {
  filter:opacity(.5);
}

#me {
  display: block;
  margin: 3% auto;
}

.jocyImg {
  border-radius: 10%;
}

#me a {
  background-color: #331832;
  color: #d81e5b;
}

#me a:hover {
  text-decoration: none;
  background-color: #d81e5b;
  color: #331832;
}

a, .skillTitle {
  padding: 0 1%;
}

.skillTitle {
  background-color: #f0544f;
  color: #fdf0d5;
}

#skill i {
  font-size: 13vh;
}

.contenedorImg {
  background-color: #fdf0d5;
  margin: 1%;
  -webkit-box-shadow: 5px 5px 26px -3px rgba(158, 158, 158, 0.91);
  -moz-box-shadow: 5px 5px 26px -3px rgba(158, 158, 158, 0.91);
  box-shadow: 5px 5px 26px -3px rgba(158, 158, 158, 0.91);
}

#proyects a {
  font-size: 3vh;
  background-color: #f0544f;
  color: #fdf0d5;
}

#proyects a:hover {
  text-decoration: none;
  color: #331832;
}