* {
  font-family: 'IBM Plex Serif', serif;
}

#home {
  background-image: url(../img/img.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: .8;
  color: #ffff;
}

.size {
  font-size: 3em;
}

/* Efecto escritura*/
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

#textWrite {
  padding: 1%;
  text-align: center;
  border-right: .2em solid #FF0044;
  width: 16ch;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 1s steps(15, end),
  blink-caret .5s step-end infinite alternate;
}

.text {
  margin-top: 10%;
}

#contact {
  background-color: #FF0044;
  border: none;
  color: #fff;
  padding: 0 1%;
  font-size: 2em;
}

#contact:hover {
  text-decoration: none;
  background-color: transparent;
  color: #FF0044;
  border: #FF0044;
  background-color: #fff;
}

#aContact {
  margin-top: 8%;
}

.jocyImg {
  border-radius: 50%;
}

#aboutMe {
  padding: 5%;
  height: 100vh;
}

.textMe {
  font-size: 3.5vh;
}

.btnGoSkills {
  padding-top: 9%;
}

#goMySkills .abilities {
  color: #331832;
}

#goMySkills .abilities:hover {
  color: #FFF;
}

.abilities {
  color: #fff;
  font-size: 1.5em;
  border: 2px solid #FF0044;
  padding: 1%;
}

.abilities:hover {
  text-decoration: none;
  color: #FFF;
  background-color: #FF0044;
}

#myAbilities {
  margin-top: 6%;
}

#skills {
  height: 100vh;
}

.skillTitle {
  font-size: 2.5em;
  padding-top: 7%;
}

#skills i {
  font-size: 13vh;
  color: #FF0044;
}

#proyects, #aboutMe {
  background-color: #EEEEEE;
}

#proyects a {
  font-size: 1.2em;
  background-color: #FF0044;
  color: #fff;
}

#proyects a:hover {
  text-decoration: none;
  color: #331832;
}

.line {
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0px 15px 10px -15px #111;
  padding: 5% 0;
}

footer {
  background-color: #331832;
  font-size: 1em;
}

footer a {
  font-size: 3vh;
}

#contactMe {
  padding: 1%;
  color: #fff;
}

#contactMe a {
  background-color: #331832;
  color: #d81e5b;
  border-right: 2px solid #d81e5b;
  padding: 0 1%;
}


@media only screen and (max-width: 700px) {
  .size {
    font-size: 2.5em;
    padding-top: 5%;
  }
  .text-center {
    padding-top: 10%;
  }
  #aContact{
    padding-top: 20%;
  }
  .textMe {
    text-align: center;
    font-size: 1.2em;

  }
}